{% extends "AdminDash.html" %}
{% block m1 %}
<link rel="stylesheet" href="../static/styles/style.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Admin Change Password</title>
</head>
<body>
<h1>Admin Change Password</h1>

<div class="box">
<form method="post" action="/changed_password">
    <p>Old Password :<input type="text" name="old_password" required></p>
    <p>Password :<input type="text" name="password"></p>
    <p>Confirm Password :<input type="text" name="cpass"></p>
    <button type="submit" class="btn3">change</button>
</form>
{% if msg %}
<p>{{msg}}</p>
{% endif %}
</div>
</body>
</html>
</body>
</html>
{% endblock %}
