{% extends "AdminDash.html" %}
{% block m1 %}
<link rel="stylesheet" href="../static/styles/style.css">
<h1>Edit Medicals</h1>

  <div class="box">

{% if data %}
<form action="/update_medical" method="post">
  <p>Medical Name :<input type="text" name="Medical_name" value="{{data[0]}}"></p>
  <p>Owner :<input type="text" name="Owner_name" value="{{data[1]}}"></p>
  <p>Lic :<input type="text" name="Lic" value="{{data[2]}}"></p>
  <p>Address :<input type="text" name="Address" value="{{data[3]}}"></p>
  <p>Contact :<input type="text" name="Contact" value="{{data[4]}}"></p>
  <p>Email :<input type="text" name="Email" value="{{data[5]}}" readonly/></p>
  <button type="submit" class="btn3">Save & Change</button>
</form>
{% elif msg %}
  <p>{{msg}}</p>
{% endif %}
  </div>
{% endblock %}